@import url('https://fonts.googleapis.com/css?family=Pacifico');
#popupbox{
margin: 0; 
margin-left: 40%; 
margin-right: 40%;
margin-top: 50px; 
padding-top: 0px; 
width: 20%; 
height: 150px; 
position: absolute; 
background: #FBFBF0; 
border: solid #000000 2px; 
z-index: 9; 
font-family: arial; 
visibility: hidden; 
}

header {
		background-color: #FEc704;
		margin: 0;
		padding: 0;
		font-family: 'Pacifico', cursive;
		font-size; 20px;
		text-align: center;
}

#space {
	height: 20px;
}

th, td {
	padding: 2px;
}

#table-header {
	background-color: orange;
}

td[rowspan] {
	vertical-align: top;
}

nav {
		background-color: #FEc704;
		margin: 0;
		padding: 0;
		font-family: 'Pacifico', cursive;
		font-size; 20px;
		text-align: center;
}

#center{
	text-align:center;
}

#content {
	color: #FFFFFF;
	text-align: center;
}
body,h2,h3,h4,h5,h6 {	font-family: "Montserrat", sans-serif;
							color: #FFFFFF;
}
h1{
	background-color: #FEc704;
	color:#008080;
}

body{	background-color:#525252;
		vertical-align: middle;
		margin-left: 50px;
}

a {
	color: #ffffff;
}

.close {
	color: #000;
	margin-left: 90%;
	text-align: right;
}

.container {
	display: flex;
	padding-left: 0%;
}

.taskQuestion {
	width: 40%;
}

#tableQuestion {
	width: 80%;
}

#detailClass {
	table-layout: fixed;
	width: 55%;
}

.inputTask {
	float: right;
	margin-right: 50px;
}

th {
	color:BLUE;
  font-family:Comic Sans MS;
	font-weight:bold;
	font-style:italic;
	}
td {color:#00FF00;
    font-family:Verdana;
	font-weight:bold;
    }	
tr  {background-color:#FEc704;}	
table {text-align:center;
       	  
    }
	
#myDIV {
    width: 100%;
    padding: 50px 0;
    text-align: center;
		display: none;
}

#logout {
	float:right;
	margin-right:20px;
}