.w3-sidebar a {font-family: "Roboto", sans-serif}
body,h2,h3,h4,h5,h6,lol{	font-family: "Montserrat", sans-serif;
							color: #FFFFFF;
}
h1{	font-family: "Montserrat", sans-serif;
	color: #FFFFFF;
	background-color: green;
}
body{	background-color: #000033;
		vertical-align: middle;
		margin-left: 50px;
}
a{
	color: #ffffff;
}